
﻿
.bigger{
    transition: width 3s, height 3s;
    -webkit-transition: width 3s, height 3s;
}
.bigger:hover{
    cursor: pointer;
   width: 350px;
   height: 350px;
}

#container.rotate90 #image {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
#container.rotate90 #image:hover{
    transform: rotate(90deg) translateY(-100%) scale(1.5);
} 

#container.rotate180 #image {
    transform: rotate(180deg) translate(-100%, -100%);
    -webkit-transform: rotate(180deg) translate(-100%, -100%);
    -ms-transform: rotate(180deg) translateX(-100%, -100%);
}

#container.rotate270 #image {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}

