.container {
    position: relative;
    width: 330px;
}

.tile {
    border-collapse: collapse;
}

.table {
    display: table-row;

}

.cell {
    display: table-cell;
    width: 110px;
    height: 110px;
}

.bigger {
    transition: width .3s, height .3s, margin .3s, transform .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100px;
    height: 100px;
    margin : 5px;
    position: absolute;
    transform : rotate(0deg);
}

.bigger:hover {
    cursor: pointer;
    width: 110px;
    height: 110px;
    margin: 0px;
    display: block;  
}

.button {
    background-color: #4286f4;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border: 0px;
    color: #FFF;
    display: inline-block;
    width: 90px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: Arial;
    cursor: pointer;
}

.button:hover {
    background-color: #0c51f5;
}

.text-block {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.text {
    height: 50%;
    text-align: center;
    color: #0a7e1a;
    z-index: 3;
    font-size: 40px;
    margin: 0;
    padding: 43% 0px 0px 0px;
}