
.container {
    border-collapse: collapse;
    /*display: table;*/
    height: 330px;
    width: 330px;
}

.table {
    display: table-row;
    height: 110px;
    width: 330px;
}

.cell {
    display: table-cell;
    width: 110px;
    height: 110px;
}

.bigger {
    transition: width .3s, height .3s, margin .3s, transform .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100px;
    height: 100px;
    margin : 5px;
    position: absolute;
    transform : rotate(0deg);
}

.bigger:hover {
    cursor: pointer;
    width: 110px;
    height: 110px;
    margin: 0px;
    display: block;  
}

